*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color:white;
    padding: 0 auto;
    
}
.log-in-input{
    height: 450px;
    background-color: rgb(255, 255, 255);
    border: 2px bisque;
    width: 550px;
    text-align: center;
    margin: 0 auto;
    margin-left: 180px;
    position: absolute;
    top: 15%;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(98, 97, 97, 0.2); 
    padding: 20px;
}

.log-in-input .info{
    margin: 0px auto;
    text-align: left;
    margin-left: 80px;
    margin-top: 30px;
    display: block;
}
.log-in-input .info .inputs{
    margin-bottom: 20px;
}
.form-title{
    margin-bottom: 20px;
    position: relative;
    left: 80px;
    font-family: Poppins, sans-serif;
}
input[type="text"],input[type="password"]{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size:17px;
    border: none;
    background: none;
    box-shadow: 0 0px 2px rgb(124, 190, 255);
    height: 60px;
    width:300px;
    border-radius: 5px; 
    border-left: 4px solid rgb(124, 190, 255) ;
    padding-left: 80px;
    outline-color: rgb(117, 175, 219);
    
}
input::placeholder{
    color: rgb(144, 144, 144);
    position: absolute;
    margin-left: 50px;
    font-size: 15px;
}
input[type="submit"]{
    margin-bottom: 20px;
    margin-top: 20px;

}
.inputs .fa-regular{
    font-size: 22px;
    margin-left: 30px;
    position: absolute;
    top: 138px;
    color:rgba(124, 189, 255, 0.86);
}
.inputs .fa-key{
    font-size: 22px;
    margin-left: 30px;
    position: relative;
    top: 64px;
    color:rgba(124, 189, 255, 0.86);
}
.check-rem{
    display: inline-block;
    padding:  0px; 
}
.check-rem  label{
    position: absolute;
    left: 120px;
   

    
}
.check-rem a{
    float: right;
    margin-left: 220px;
    text-decoration: none;
    color: rgb(37, 120, 227);
}
input[type="checkbox"] {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    size: 70px;
}
.sub-btn input{
    margin-top: 50px;
    position: relative;
    font-size: 15px;
    left: 25%;
    width: 150px;
    height: 45px;
    border-radius: 7px;
    background: #3074ab;;
    border: 0;
    color: white;
    outline: none;
    box-shadow: 0 0px 9px rgb(124, 190, 255);
    font-weight: 600;
     
}
.sub-btn input:hover{
    background: #3e83bf;

}
/*the left side of the form*/

.left-side{

    height: 500px;
    background-color: rgb(25, 113, 190);
    border: 2px bisque;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-left: 150px;
    position: absolute;
    top: 11%;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(98, 97, 97, 0.2); 
    padding: 20px;
    left: 45%;
}
.left-side #left{
    top: 16%;
    left: 20%;
    position: absolute;
    width: 56px;
    border-bottom: 2px solid white;
    outline: none;
    display: block;
    color: white;
}
.left-side #right{
    top: 16%;
    left: 67%;
    margin-top: 0;
    position: absolute;
    width: 56px;
    border-bottom: 2px solid white;
    outline: none;
    display: block;
    color: white;
}

.left-side p{
    margin-top: 58px;
    color: rgb(222, 235, 251);
    font-family: sans-serif;

}
.tems{
    margin-top: 20px;
    color: rgb(39, 131, 180);
}

.tems .foo .fa-google{
   margin-left: -100px;
   margin-top: 17px;
  position: absolute;

}
.tems .fo .fa-facebook{
    margin-left: -100px;
   margin-top: 17px;
  position: absolute;

 
 }
 .tems  .f .fa-microsoft{
    margin-left: -100px;
    margin-top: 17px;
   position: absolute;
 
 }
 .tems .foo{
    border: 2px solid white;
    width: 300px;
    height: 50px;
    border-radius: 80px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;

 }
 .tems .foo:hover{
    background-color: #50abfa;
    cursor: pointer;
 }
 .tems .fo:hover{
    background-color: #50abfa;
    cursor: pointer;
 }
 .tems .f:hover{
    background-color: #50abfa;
    cursor: pointer;
 }
 .tems .foo a{
    position: absolute;
    margin-top: 16px; 
    margin-left: -65px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    
 }
 .tems .fo{
    border: 2px solid white;
    width: 300px;
    height: 50px;
    border-radius: 80px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;

 }
 .tems .fo a{
    position: absolute;
    margin-top: 16px; 
    margin-left: -65px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: capitalize;

 }
 .tems .f{
    border: 2px solid white;
    width: 300px;
    height: 50px;
    border-radius: 80px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;

 }
 .tems .f a{
    position: absolute;
    margin-top: 16px; 
    margin-left: -65px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
 }
 .dont a{
    position: absolute;
    margin-top:45px;
    color: white;
    margin-left: -90px;
    text-decoration: none;

 }

 .dont button{
    margin-top: 120px;
    position: absolute;
    font-size: 15px;
    left: 35%;
    width: 150px;
    height: 45px;
    border-radius: 7px;
    background: #eeecec;;
    border: 0;
    color: rgb(39, 148, 211);
    outline: none;
    box-shadow: 0 0px 9px rgba(61, 174, 255, 0.481); 
    font-weight: 600; 
}
.dont button:hover{
    background: #ffffff;;

}
